.container {
  display: flex;
  justify-content: center;
  align-items: center;


}

.form {
  background-color: white;
  padding: 20px 45px 20px 40px;
  border-radius: 10px;
  width: 845px;
  height: 570px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.removeSlide {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  font-size: 12px;
}

.closeButton,
.addButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.maxQuestions {
  color: #9F9F9F;

  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;

}

.polInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background: #FFFFFF;
  color: #9F9F9F;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 0px #00000026;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;



}

.timerAndInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  height: 250px;
  position: relative;
}
.setMargin{
  margin-left: -23px;
}
.setButton{
  margin-left: 2px !important;
  width: 96% !important;
}

.fullWidth {
  grid-template-columns: 2fr 1fr;
}

.textAndImagesUrl {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.4rem;
}

.optionType {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  border-radius: 10px;



}
.optionType  input[type=radio]{
  accent-color: #353434;
 
  width: 15px;
  height: 15px;

}

.optionType h2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #9F9F9F;

}

.optionType label {
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #9F9F9F;
}

.optionType input {
  margin-right: 5px;
}

.option {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0;
  width: 100%;
  background: #FFFFFF;

}

.isActiveOption {
  box-shadow: 0px 0px 25px 0px #00000026;
  border: none;
  color: #ffffff;
  height: 50px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  background: #60B84B;
  width: 100%;
  padding: 10px;
  border-radius: 5px;

}

.isActiveOption::placeholder {
  color: #ffffff;

}

.optionColor input[type=radio] {
  accent-color: green;
}









.optionInput {
  box-shadow: 0px 0px 25px 0px #00000026;
  border: none;

  height: 50px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #9F9F9F;


  width: 100%;
  border-radius: 5px;
  padding: 10px;

}

.selectWidth {
  width: 350px;

}

.addOptionButton {}

.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: red;
  margin-left: 10px;
  position: absolute;
  left: 380px;
}

.removeButtonForboth {
  left: 500px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: red;
  margin-left: 10px;
  position: absolute;
}

.addOptionButton {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  width: 92.8%;

  box-shadow: 0px 0px 25px 0px #00000026;
  border: none;
  margin-left: 26px;
  height: 50px;
  font-family: Poppins;

  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  background: #ffffff;
  text-align: center;

}

.timer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  text-align: center;
  margin: 20px 0;
  position: absolute;
  height: 185px;
  right: 40px;
  top: 40px;
  gap: 15px;
  bottom: 0;



}

.timer p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #9F9F9F;


}

.timer .labelInput {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: center;
  color: #9F9F9F;
  border: none;
  background: #ffffff;
  box-shadow: 0px 0px 15px 0px #00000026;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 95px;
  cursor: pointer;

}


.timer input {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: center;
  color: #9F9F9F;
  border: none;
  background: #ffffff;
  cursor: pointer;

}

.isTimerActive {


  border: none;
  background: #ffffff;

  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 95px;
  cursor: pointer;
  background: #D60000;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: center;
  color: #FFFFFF;


}

.isTimerActive input {
  color: #FFFFFF;
  border: none;
  background: #D60000;
  cursor: pointer;

}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 7rem;
  margin-top: 4rem;

}

.cancelButton,
.createButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;


}

.cancelButton {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px #00000040;
}

.createButton {
  background-color: #4CAF50;
  color: white;
}


.slideButtonContainer {
  display: flex;

  position: relative;
  justify-content: space-between;
  align-items: center;

}

.slideButtonWrapper {

  position: relative;


}

.addSlideButton {
  width: 24px;
  height: 58px;
  color: #969696;
  cursor: pointer;
  font-size: 45px;
  border: none;
  display: flex;
  align-items: center;
  background: none;
  justify-content: center;

}

.slideButtonList {
  display: flex;
  justify-content: center;
  gap: 2rem;


}

.slideButton {
  width: 58px;
  height: 58px;
  border-radius: 100%;
  border: none;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px #00000026;


}



.addOptionButtonBoth {
  width: 279px;
  height: 46.14px;

  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #00000040;


}
.customToast{
  font-size: 16px;
}