/* src/components/QuestionCard.module.css */
.card {
    background: #041325;

    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;

}

.cardContent {
    box-shadow: 0px 0px 30px 0px #00000026;
    background: #FFFFFF;
    width: 80vw;
    height: 80vh;
    padding: 30px 60px 30px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: -10px;
}

.questionNumber {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    color: #474444;


}

.timer {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #D60000;

}

.questionText {
    
    margin-bottom: 20px;
    text-align: left;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;

    text-align: left;


    border-radius: 5px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 16rem;
    margin-bottom: 20px;
}

.option {
    background: #F0F0F0;
    height: 100px;
    /* padding: 10px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    
    text-align: center;


    /* padding: 8px;
    margin: 5px 0;
    border: 1px solid transparent;
    transition: border 0.3s ease, padding 0.3s ease, margin 0.3s ease; */
    transition: box-shadow 0.3s ease-in-out;

}

.option:hover {
    background-color: #e1e1e1;
}

.option.selected {
    border: 2px solid blue;
}

.nextButton {
    background: #60B84B;
    width: 320px;
    height: 56px;
    color: white;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    

}




.isActive {
    /* border: 2px solid blue;
    padding: 7px; 
    margin: 4px 0;  */
    box-shadow: 0 0 0 5px #5076FF; 
   
}


.images {
    /* width: 70%; */
    width: 100%;
    object-fit: cover;
    height: 100%;
  
/* 
   
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    width: 50%;
    text-align: center; */
}
.imagesAndText{
    background: #F0F0F0;
    height: 100px;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    border: none;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    padding: 5px;
}
.imagesAndText img{
    height: 80%;
}