/* src/components/QuestionCard.module.css */
.card {
    background: #041325;

    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;

}

.cardContent {
    box-shadow: 0px 0px 30px 0px #00000026;
    background: #FFFFFF;
    width: 80vw;

    padding: 3% 6% 3% 6%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: -10px;
}

.questionNumber {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    color: #474444;


}

.timer {
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #D60000;

}

.questionText {

    margin-bottom: 20px;
    text-align: left;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;

    text-align: left;


    border-radius: 5px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 16rem;
    margin-bottom: 20px;
}

.option {
    background: #F0F0F0;
    height: 100px;
    /* padding: 10px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;

    text-align: center;


    transition: box-shadow 0.3s ease-in-out;

}

.optionImg {
    background: #F0F0F0;
    height: 100px;
    /* padding: 10px; */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;

    text-align: center;


    transition: box-shadow 0.3s ease-in-out;

}


.option:hover {
    background-color: #e1e1e1;
}

.option.selected {
    border: 2px solid blue;
}

.nextButton {
    background: #60B84B;
    width: 320px;
    height: 56px;
    color: white;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;


}




.isActive {

    box-shadow: 0 0 0 5px #5076FF;

}


.images {
    /* width: 70%; */
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 6px;
    background-position: center;

}

.imagesAndText {
    background: #F0F0F0;
    height: 130px;
    /* padding: 10px; */
    display: flex;
    justify-content: space-around;
    border: none;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    padding: 8px;
}

.imagesAndText img {
    
    height: 100%;
    max-width: 140px;
    /* Limit image width if necessary */
    object-fit: cover;
    /* Ensure the image maintains its aspect ratio */
    margin-left: 1rem;
    /* Space between text and image */
    flex-shrink: 0;
    width: auto;
    border-radius: 6px;

}



.imagesAndText p {
   
  
    max-width: 150px; /* Adjust as needed */
    text-align: left;
    overflow: hidden; /* Add overflow hidden */
    white-space: nowrap;
    text-overflow: ellipsis;
    
} 

.option p{
    max-height: 100px;
    overflow: hidden;
    }

    @media screen and (max-width: 1046px){
        .options{
            gap: 4rem 10rem;
        }

    }    

@media screen and (max-width: 1000px) {
    .cardContent {
        padding: 3% 3% 3% 3%;

    }
}

@media screen and (max-width: 960px) {

    .options {
        gap: 4rem 3rem;
    }

    .questionText {
        font-size: 30px;
    }

    .option {
        font-size: 25px;
       
        /* Show ellipsis for overflow text */
    }
    

    .cardContent {
        padding: 2.6% 2.6% 2.6% 2.6%;

    }
    .imagesAndText p{
        max-width: 100px;
    }


}



@media screen and (max-width: 780px) {
    .imagesAndText p{
        max-width: 50%;
    }
    .cardContent {
        width: 100%;
        box-shadow: none;
        border: none;
        padding: 50px 30px 30px 30px;
    }

    .card {
        box-shadow: none;
    }

    .options {
        grid-template-columns: 1fr;
        margin-bottom: 6rem;

    }

    .option {
        font-size: 20px;
        height: 56px;
    }

    .nextButton {
        width: 180px;
        height: 30px;
        font-size: 20px;

    }

    .option img {
        border-radius: 5px;


    }

    .card {
        height: 100%;
    }

    .nextButtonDiv {
        padding-bottom: 1rem;
    }

    .imagesAndText {
        justify-content: space-between;
        padding: 5px 17px 5px 17px !important;
        font-size: 22px;
    }

    .imagesAndText img {
        width: 50%;
    }

}