/* src/components/ShareModal.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background: #000000CF;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
  position: relative;

  width: 845px;
  height: 481px;


}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal h2 {
  margin: 0 0 20px;
  font-family: Poppins;
  font-size: 39px;
  font-weight: 600;
  line-height: 58.5px;
  text-align: center;
  color: #474444;

}

.shareLink {
  width: calc(100% - 200px);
  padding: 10px;
  border: none;
  background: #EDEDED;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 20px;

  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  text-align: left;

}

.shareButton {
  background: #60B84B;

  color: white;
  border: none;
 margin-top: 2rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 600;
  line-height: 31.5px;
  


  width: 279px;
  height: 46.14px;


}

.shareButton:hover {
  background-color: #218838;
}

.toastcontainer{
  top: 16% !important;
  right: 22% !important;
  background-color: #ffffff;
}