/* .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .popupContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .continueButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .continueButton:hover {
    background-color: #218838;
  }
   */




   .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    color: #407BFF;
  }
  
  .formGroup {
    margin-bottom: 15px;
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .quizType {
    display: flex;
    justify-content: space-around;
  }
  
  .quizTypeButton {
    background: none;
    border: 2px solid #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quizTypeButton:hover {
    border-color: #407BFF;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .cancelButton {
    background: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .continueButton {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancelButton:hover,
  .continueButton:hover {
    opacity: 0.8;
  }
  