.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F2F2F2;
    width: 100vw;
}

.card {
    background: #ffffff;
    width: 100rem;
    height: 56rem;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 40px 0px #00000026;

    text-align: center;
}

h1 {

    margin-bottom: 20px;
    font-family: Jomhuria;
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    color: #474444;


}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -10px;
    gap: 10rem;
}

.tab {
    /* padding: 10px 20px; */
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;


}

.activeTab {
    box-shadow: 0px 0px 50px 0px #0019FF3D;
    width: 217px;
    height: 37px;
    background: #FFFFFF;

    color: #000000;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;


}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 3rem;
}

.inputName {
    display: flex;
    gap: 30px;
    color: #474444;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;

}

.inputName label {
    width: 200px;
}

.input {

    padding: 10px;
    border: 1px solid #ccc;
    width: 388px;
    height: 38px;
    background: #F4F4F4;
    border: none;
    gap: 0px;
    border-radius: 10px 10px 0px 0px;
    font-family: Poppins;
    font-size: 16px; 
    font-weight: 600;


}

.button {
    padding: 10px;
    background-color: #6200ea;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 274px;
    height: 38px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px; 
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
   
   
    

}

.button:hover {
    background-color: #4500b5;
}




.errorInput {
  
    border: 1px solid #D60000
}

.input::placeholder {
    color: #D60000;

    font-family: Poppins;
font-size: 12px;
font-weight: 500;
line-height: 18px;
text-align: left;

}

.customToast{
    font-size: 16px;
  }